* {
    margin: 0;
    padding: 0;
    font-size: min(3.3vh,3.3vw);
}

html {
    text-align: center;
    background-color: #111;

}
body{
    font-family: 'Jost', sans-serif;
    position: relative;
    width: 70vw;
    height: 100vh;
}

a {
    text-decoration: none;
}
.img-container {
    overflow: hidden;
    position: absolute;
    left: 10vw;
    height: 100vh;
    width: 30vw;
    text-align: center;
}

.big-img {
    position: relative;
    height: 100%;
    width: 100%;
    
}

.img-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 18%;
    background-color: transparent;
    opacity: 0.7;
}

.img-title p {
    font-family: 'Permanent Marker', cursive;
    color:white;
    font-size: 9vh;
}

.odin-logo {
    position: relative;
    height: 100%;
    width: auto;
}

.photo-cred {
    position: absolute;
    bottom: 1px;
    left: 6%;
    opacity: 0.8;
    font-size: min(1.8vh, 1.8vw);
}

.photo-cred a {
    color: #bbb;
    font-size: min(1.8vh, 1.8vw);
}

.signup-section {
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    left: 40vw;
    height: 100vh;
    width: 50vw;
    border-left: 2px black;
    background-color: rgb(246, 246, 246);
}

/*-------       HEADER      ------*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height: 23%;
    padding: min(4vw, 4vh);
    margin: min(1.5vw, 1.5vh) 0vh;
    gap: 0.5rem;
    text-shadow: 0px 1px 1px #707070;
}
/*--------      FORM    --------*/

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: min(4vh, 4vw);
}

form p {
    flex: auto;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(45, 45, 45);
}

.signup-card {
    height: 34%;
    background-color: #fff;
    box-shadow: 0px 10px 20px -15px #bbb;
    text-align: left;
}

.row {
    display: flex;
    height: 20%;
    padding-bottom: min(2vh, 2vw);
}

.row .input {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
}

label {
    font-size: min(1.5vh, 1.5vw);
    font-weight: bolder;
    letter-spacing: 1.5px;
}

input {
    width: min(20vw, 300px);
    height: 3vh;
    border: 1px solid #efefef;
    border-radius: 6px;
    padding-left: 4px;
    font-size: 1.5vh;
    box-sizing: border-box;
    outline: none;
}



input:focus {
    background-color: rgb(250, 250, 250);
    box-shadow: inset -1px -1px 5px -3px blue;
    border: 1px solid blue;
}

input:invalid {
    border: 2px solid red;
}




/*-------        FOOTER      ----*/

.footer {
    flex: auto;
    text-align: left;
    padding: min(4vh, 4vw);
}

.footer button {
    padding: min(1vh, 1vw); 
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    background-color: #161616;
    color: rgb(250, 250, 250);
    font-size: min(2.5vh, 2.5vw);
    margin-bottom: min(4vh, 4vw);
}

.footer p {
    font-size: min(2vh ,2vw);
}

.footer a {
    font-size: min(2vh, 2vw);
    color: #198;
}