* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    background-color: #444;

}
body{
    width: 70vw;
    height: 100vh;
}


.big-img {
    height: 100vh;
    width: 35vw;
}